# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.hex
*.lst
*.map
*.elf

*.swp

# specific assembly files
main.s

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
